* {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1140px;
    width: 100%;
    padding: 0px 15px 0px 15px;
    margin-right: auto;
    margin-left: auto;
}

#main_header {
    padding: 55px 0px;
}

.header_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.moon {
    display: flex;
    text-transform: uppercase;
    align-items: center;
    text-align: center;
    justify-content:flex-start;
    width:100%;
}

.moon img {
    border-radius: 30px;
    background: #EEEEEE;
    font-family: kanit;
    padding: 14px;
    rotate: -31deg;
}
.logo{
    display: flex;
    width: 100%;
    justify-content: center;
}

.searchbar i.fa.fa-search {
    font-size: 20px;
    padding: 0px 0px 0px 27px;
}

.searchbar span {
    font-size: 14px;
    font-family: 'Heebo';
    padding-left: 5px;
    font-weight: 600;
}

.searchbar {
    display: flex;
}

.searchbar:hover {
    color: #ad61c0;
}

.sign_in_btn{
    display: flex;
    width: 100%;
    justify-content:flex-end;
    align-items: center;
}

.sign_in_btn a {
    text-decoration: none;
    font-size: 14px;
    font-family: heebo;
    font-weight: 700;
    text-transform: uppercase;
    color: #333;
    letter-spacing: -0.25px;
}

.sign_in_btn a:hover {
    color: #ad61c0;
    
}

.sign_in_btn button {
    background:#ad61c0;
    background: linear-gradient(145deg, #bd7fcb, #ad62c0); 
    color: #fff;
    text-transform: uppercase;
    border-radius: 30px;
    border: transparent;
    font-weight: 600;
    padding: 10px 30px 10px 30px;
    margin-left: 20px;
    cursor: pointer;
    line-height: 20px;


}

.sign_in_btn button:hover {
    background: #ad61c0e8;
}

/* starting a new section  */
#navigation-list {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.nav_lists {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: -30px;
}

.nav_lists ul {
    display: flex;
    list-style: none;


}

.nav_lists ul li a {
    margin-left: 30px;
    font-size: 18px;
    color: #333;
    font-family: heebo;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 50px;
}

.nav_lists ul li a:hover {
    color: #ad61c0;
}

/* starting a new section  */
#main-heading-para {
    padding: 88px 0px 95px;
    text-align: center;
    background-image: radial-gradient(circle,#ead7ff,#ffffff, #Ffffff);

}

#main-heading-para h1 {
    text-align: center;
    font-size: 60px;
    color: #333;
    font-family: heebo;
    margin-bottom: 36px;
    line-height: 74px;

}

#main-heading-para p {
    text-align: center;
    font-size: 24px;
    color: #333;
    font-family: kanit;
    margin: 0px 142px 50px;
}

#main-heading-para button {
    background: linear-gradient(145deg, #bd7fcb, #ad62c0); 
    color: #fff;
    text-transform: uppercase;
    border-radius: 35px;
    border: transparent;
    font-weight: 600;
    padding: 0px 60px 0px 60px;
    height: 70px;
    font-size: 24px;
  
}
#main-heading-para button:hover {
    cursor: pointer;
    background: linear-gradient(#c188d0, #c692d5);
}

/* starting a recent article style  */
#authors {
    padding: 0 100px 35px;
}
.recent_article_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.top_author_images img {
    border-radius: 60px;
}
.recent_article p {
    font-size: 36px;
    font-family: heebo;
    color: #333333;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    padding: 0px 160px 0px 0px;

}

.recent_article {

    position: relative;

}

.recent_article::before {
    content: "";
    position: absolute;
    top: 37%;
    right: 0;
    left: 0;
    height: 1px;
    width: 140px;
    background: #ddd;
    opacity: 1;
    margin-left: 70%;
}

.recent_article::after {
    content: "";
    position: absolute;
    top: 25%;
    right: 0;
    left: 0;
    height: 1px;
    width: 80px; 
    background: #ddd;
    opacity: 1;
    margin-left: 70%;
}

.top_images {
    display: flex;
    align-items: center;
    gap: 15px;
  justify-content: right;
}

.top_img_Para p {
    text-transform: uppercase;
    color: #333333;
    font-size: 14px;
    font-family: Heebo;
    font-weight: 700;
    text-align: right;

}
.top_author_images {
    display: flex
;
}


.top_author_images img {
    display: block;
    position: relative;
    padding: 5px;
    z-index: 1; 
    margin-right: -25px; 
    background: #fff;
    border-radius: 50%; 
    
}

.top_author_images img:hover {
    z-index: 10; 
    
}

.top_author_images img:hover::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 5px solid #bb6969;
    border-radius: 50%;
    content: '';
    z-index: -1;
    transition: 0.5s;
}





/* cards section css style   */
#card {
    display: flex;
    flex-direction: row;
   
}

.cards-row {
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.card_images_one {
    width:100%;
    background-image: url('images/19.webp');
    display: flex;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: space-between;
    transition: .5s; 
    background-size: cover;
   
   
}
.card_images_one:hover{

    background-size: 180%;
}


.img_date_box {

    display: flex;
    justify-content: center;
    padding: 0 20px;
   
}
h3.card_image_one_heading{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-family: Heebo;
}
/* .anchor_hreading{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
} */


.img_date_box p{
    backdrop-filter: blur(10px);
    font-family:Heebo;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    text-transform: uppercase;
    padding: 0px 30px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 0px 0px 5px 5px;
}
.card_image_one_heading {
    position: relative;
    color: #fff;
}

.card_image_one_heading::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    left: 10px;
    height: 1px;
    width: 20px;
    background: #ddd;
    opacity: 1;
    margin-left: 60%;
}

.card_image_one_heading::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    left: -30px;
    height: 1px;
    width: 20px;
    background: #ddd;
    opacity: 1;
    margin-left: 95px;
}

.card_image_one_heading {
    font-size: 14px;
    font-weight: 700;
    /* font-family: ; */
    text-transform: uppercase;
}

h2.card_img_one-heading2 {
    font-size:24px;
    font-family:Heebo;

    color: #ffffff;
    margin-bottom: 22px;
}
h2.card_img_one-heading2:hover {
  
    cursor:pointer;
}


.inner_card_img_headings{
    padding: 40px;
    text-align: center;
}
.inner_card_img_headings a {
    display: inline-flex
;
    text-decoration: none;
    color: #000;
    background: #fff;
    text-transform: uppercase;
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
    border-radius:20px;
    font-weight: 700;
    font-size: 14px;
    font-family: Heebo;

}
.inner_card_img_headings a:hover {
 
    color: #fff;
    background: #ad61c0;
   
}
.inner_card_sec h2{
    padding: 40px;
    text-align: center;
    /* margin-bottom: 22px; */
}

.card_images {
    padding-top: 40px;
    text-align: center;
    border: 1px solid #ddd;
    width: 100%;
}

img.second {

    border-radius: 10px;
}

img.third {
    border-radius: 150px;
}

img.fourth {
    border-radius: 130px 130px 0px 0px;
}


/* footer styling */
#footer_sec {
    padding: 100px 0px;
}

.inner_footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.footer_search i.fa.fa-search {
    font-size: 20px;
    background-color: #eee;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.footer_search span {
    font-size: 14px;
    font-family: 'Heebo';

    color: #333333;
    padding-left: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.footer_search span:hover {
    color: #ad61c0;
}

.footer_logo {
    margin-bottom: 25px;

    text-align: center;
}

.footer_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer_list ul {
    display: flex;
    list-style: none;


}

.footer_list ul li a {
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid#ddd;
    font-size: 14px;
    color: #333;
    font-family: heebo;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 1px;
    line-height: 50px;
    margin-top: 5px 0px;
}

.footer_list ul li a:hover {
    color: #ad61c0;
    cursor: pointer;
}

.footer_list {
    position: relative;
    margin-bottom: 25px;
}

.footer_list:after {
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background: #ddd;
    margin-bottom: 25px;
    opacity: 1;
}

.privacy_inner {
    display: inline flex;
    margin-bottom: 7px;
}

.privacy_inner p {
    font-size: 18px;
    color: #333333;
    font-family: heebo;
    font-weight: 700;
    text-transform: capitalize;
    text-decoration: none;
    margin-top: 1px;
    line-height: 24px;
}

.privacy_inner p:hover {

    color: #ad61c0;

}

.footer_term_condition {
    margin-left: 20px;
}

.footer_privacy_policy {
    margin-left: 20px;
}

.footer_copyright a {
    text-decoration: none;
    cursor: pointer;
    color: #333333;
    font-size: 18px;
    font-family: kanit;

}

.footer_copyright p {
    color: #777;
    font-size: 18px;
    font-family: kanit;

}

/* .footer_button svg{
        size: 16px;
        height: 16px;
        width: 16px;
    }
    .i fa-solid fa-chevron-up {
        font-size: 20px;
        background-color: #eee;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    } */
.footer_search i.fa-solid-fa-chevron-up {
    font-size: 20px;
    background-color: #eee;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.footer_button span {
    color: #333333;
    font-size: 14px;
    font-family: 'Heebo';
    padding-left: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.footer_button span:hover {
    color: #ad61c0;
}

